<nav class="portfolio-navigation content wrap animated fadeInDown" style="margin:4rem auto;">
  <%= link_to "Brittany", about_brittany_path %><span class="arrow">&rarr;</span>
  <%= link_to content_for(:page_name), request.fullpath %>
</nav>