<% content_for :page_name, "Situation Room" %>
<% content_for :title, "Situation Room case study - Brittany Mederos" %>
<%= render "brittany/navigation" %>

<main class="content wrap animated fadeIn" role="main">
  <section class="overview" style="margin-top:8rem;">  
    <h1>Elementum: Situation Room</h1>
    <p class="subheader">Designing a control room to inspire collaboation between operational teams.</p>
  </section>

  <section>
    <h3>The Problem</h3>

    <p>Situation Room started at an internal company hack-a-thon. Each participant was given free range to build whatever could be built on Elementum’s current platform using our supply chain graph data. I joined a team with a mission to make a control tower experience, think <%= link_to "NASA's control room", "http://upload.wikimedia.org/wikipedia/commons/3/3b/Mission_control_center.jpg" %>, but for supply chain data. The primary use case was to make it a beautiful display that was fit to hang in the CEO’s office. </p>

    <p>Our original pitch was, “A beautiful way to monitor your supply chain.” We quickly sketched out our ideas, with only 6 hours to hack something together. We knew we wanted a large tv video wall made up of 9 tv screens. We also agreed that there should be a way for the CEO to change the displays at will through a “remote control”. </p>

    <p>Then the team, made up of 3 designers and one marketer turned developer, wireframed low fidelity screens and prototyped the basic app flow in InVision (link to invisionapp.com).</p>

    <p>My team was thrilled when our prototype grabbed us 1st prize at the hackathon. Little did we know, this was the beginning of a revolutionary product.</p>

    <h3>Users &amp; Audience</h3>

    <p>We knew that the C-suite users loved to watch the news in their office, usually as a background noise, and they had dreams of their own mission control room. But it wasn’t until our first Situation Room actually sold to Dyson that we found the true use cases. </p>

    <p>“We are building a control tower at Dyson which will show all the parts in our supply chain,” he said. “It will have 16 screens constantly monitoring transport routes, risks points and the quality of products – it will be a physical control tower.</p>

    <p>“If you have six people looking at these screens, providing constant analysis, then magical things start happening in terms of developing really creative solutions,” - Jim Rowan, Dyson COO</p>

    <p>This was a huge opportunity to change the dynamics of how Operation teams operated.</p>

    <h3>Team &amp; Stakeholders</h3>

    <p>Because this was a hack-a-thon idea when it started there wasn’t a dedicated PM, it ended up becoming a 20% project for whoever had bandwidth to work on it. It still isn’t officially an App, but more of an offering as an alternative way to display Elemetum data. </p>

    <p>Each app team, Transport, Exposure and Manufacture were responsible for coming up with their own Situation Room “posters”. After Dyson expressed interest in buying and installing a Situation Room of their own leadership came up with a few ideas.</p>

    <p>All of a sudden this hack-a-ton idea was the center of Elementum’s attention and everyone became very interested in the progress of designs for the Situation Room and the remote control iPad application we were building that would allow individuals to switch the posters they were looking at on each individual screen, minority report style. </p>

    <h3>Constraints</h3>

    <p>At the hack-a-thon, which was constrained to 6 hours, we didn’t think about the actual implementation or technology requirements. We used inVision to put together a click through prototype of the remote control for the situation room and spoke to the idea of a Control Room set up with 9 screens in a 3x3 configuration.</p>
    <p>For technology we pitched things like using Apple TV or Google Chromecast. But in reality, when it came time to build our hack-a-thon idea, Who knew hacking and integrating into a TV display could be so difficult and foreign. We experimented with Raspberry Pi and possibly creating a custom TV app that we would install for each of the displays on the wall of TVs. </p>

    <h3>Design Process</h3>

    <p>There were two experiences that needed designs for the situation room, the viewers experience and the remote control experience.</p>

    <p>As a viewer how long would we want each poster to remain static on the screen before it rotated to a new screen with fresh data, or if they wanted to go through multiple routes or product lines how would our designs accommodate this dynamic changing of screens.</p>
    <p>We would have to have an indicator that acted as a counter to visually indicate the time left before the change, and the actual transition needed to be smooth and not flickering because if there were 9 displays changing all at the same time it shouldn’t look like a malfunction or be irritatingly distracting. For each app we went came up with two posters that would reflect over all performance of issues that each app alerted the user of.</p>
    <p>For Transport the two posters were Bottlenecks, which carousels through all the bottlenecks impacting that users routes. And the second one was Route performance which went though the over all health of that users routes and carrier performance. </p>

    <figure class="image-container">
      <img src="https://dl.dropboxusercontent.com/u/52434928/Case%20Study%20Photos/SituationRoom_TransportV12bottlenecks.png"/>
      <figcaption class="figure-caption">Early concept for Bottleneck poster.</figcaption>
    </figure>

    <figure class="image-container">
      <img src="https://dl.dropboxusercontent.com/u/52434928/Case%20Study%20Photos/SituationRoom_TransportV13e%202.png"/>
      <figcaption class="figure-caption">Underperforming routes poster for Situation Room.</figcaption>
    </figure>


    <p>For the Remote controller experience, giving them a thumbnail of the poster they were about to change and the actual position of the TV they were selecting the new poster for. And then the confirmation that the poster was actually changed after they sent the request.</p>

    <figure class="image-container">
      <img src="https://dl.dropboxusercontent.com/u/52434928/Case%20Study%20Photos/SR_remote_vizV9c%2Bcopy.jpg"/>
      <figcaption class="figure-caption"> Remote control for Situation Room.</figcaption>
    </figure>


    <p>We did a lot of in-house testing with the remote to see how people felt about the responsiveness and process of changing a TV screen. There a still many ideas we have for the remote and even collaboration from the TV display to the users web application. </p>

    <h3>The Result</h3>

    <p>We now have two customers who have bought Situation Rooms and a lot of other companies who have expressed interest. </p>

    <p>“Dyson re-engineers its supply chain with a control tower to ‘create logistics magic’”</p>

    <iframe width="100%" height="360" src="https://www.youtube.com/embed/gLH8i7Uuhwg" frameborder="0" allowfullscreen></iframe>

    <img src="http://paulmederos.s3.amazonaws.com/enchant/case-studies/britt-sit_room.png" style="margin:2em auto;">

    <img src="http://paulmederos.s3.amazonaws.com/enchant/case-studies/britt-sit_room-remote.jpg" style="margin:2em auto;">

    <h3>Retrospective</h3>

    <p>It’s amazing where ideas can come from. A simple hack-a-thon can create a viable product for a company, that’s amazing! I was impressed with the team effort and hard work that went into making this hack-a-thon project a reality. </p>

    <p>Right now there is a separate remote control app which is an iPad application, but in the future I can see if being a little annoying that the user can’t access their situation room remote from the application they are in. So maybe in the future we will explore integrating the Situation Room experience into each of our apps and it will just become another way for the user to display their supply chain data.</p>

    <p>There is also no easy way to make custom posters, yet. We’ve received multiple requests to design custom Situation Room screens, but because it’s still a 20% project there just isn’t the bandwidth. So talks are in the works of building a “create your own Situation Room poster” flow. But that’s gonna take some more explorations.</p>
  </section>
</main>

<%= render "brittany/navigation" %>
