<main class="content wrap animated fadeIn" role="main">
  <section class="overview" style="margin-top:8rem;">  
    <h1>CFPB: Yearly Strategic Report</h1>
    <p class="subheader">The Consumer Financial Protection Bureau (CFPB) had to send their annual Strategic Report to Congress, but they decided to design a new type of government report, a living document, an online interactive report.</p>
  </section>

  <section>
    <h3>The Problem</h3>
    <p>The CFPB wanted to provide an interactive and data-rich experience to showcase their strategic plan. The CFPB wanted their plan to be more accessible to the public. By serving it online as a live HTML document, they would lead government reporting <em>sound the trumpets</em> into the digital age.</p>

    <h3>Users &amp; Audience</h3>
    <p>All members of congress, and the American public who want to know more about the CFPB’s plans.</p>

    <h3>Team &amp; Stakeholders</h3>
    <p>I reported directly to the design director for this role and worked with a front end developer to build it out and a project manager who made sure we met our deadlines :)</p>

    <p>Our main stakeholders was the Director of the CFPB and the approval committee, anything that was external facing had to be reviewed by the committee before pusblishing. </p>

    <h3>Constraints</h3>
    <h4>Orders from the Director</h4>
    <p>The one kink in the plan came when the Director required that the document be print friendly. Initially we thought this could be taken care of by a separate print style sheet, but it turned out to be a little more complicated, and messier, than that. We found a service called PDF Reactor that could easily generate a PDF straight from HTML.</p>

    

    <h3>Design Process</h3>

    <p>One of the biggest reports a federal agency has to produce is their strategic plan, as required by the Government Performance Rule and Act (GPRA). The CFPB prides itself in being forward thinking and understanding the value of a well-designed experience. They wanted to rethink the current format of their reports to the public. Currently, most of these reports are text-heavy documents that are difficult to digest.</p>

    <p>The answer seemed simple: design an interactive report meant for the web. But this was uncharted land for a government agency, and the CFPB hoped to lead the way forward by providing real-time data and interactive visualization of this report, and all reports moving forward.</p>

    

    <p>I dove into my research: how could I best bring this report into the 21st century, and make the information digestible and visually appealing? By moving the report online it provided the possibility of a richer experience. It helped make the report more concise because we could link to external content instead of directly including it in the report body.</p>

    <p>Designing a report, traditionally in print, for consumption on the web, is an exercise in the importance of flexible content. It is important to know your audience and make sure that your content is formatted for how they wish to consume it.</p>

    <h3>The Result</h3>

    <p>See it in action here: <%= link_to "http://www.consumerfinance.gov/strategic-plan/", "http://www.consumerfinance.gov/strategic-plan/" %></p>

    <img src="http://paulmederos.s3.amazonaws.com/enchant/case-studies/britt-cfpb-strategic-plan-head.png" style="margin:2em auto;">

    <img src="http://paulmederos.s3.amazonaws.com/enchant/case-studies/britt-cfpb-strategic-plan-budget.png" style="margin:2em auto;">

    <img src="http://paulmederos.s3.amazonaws.com/enchant/case-studies/britt-cfpb-strategic-plan-measure.png" style="margin:2em auto;">

    <img src="http://paulmederos.s3.amazonaws.com/enchant/case-studies/britt-cfpb-strategic-plan-population.png" style="margin:2em auto;">

    <img src="http://paulmederos.s3.amazonaws.com/enchant/case-studies/britt-cfpb-strategic-plan-accordian.png" style="margin:2em auto;">

  </section>