<!-- RSS reader to pull cards goes here. -->

<% 
@posts = []
require 'rss'

rss = RSS::Parser.parse('http://writing.enchant.co/rss/', false)
rss.items.each do |item|
  @posts << item
end

%>

<div class="visible-posts">
  <% @posts.each do |post| %>
    <div class="card-post animated fadeInUp">
      <img class="post-author-avatar" src="<%= image_for_author post.dc_creator %>">
      <h3 class="post-title"><a href="<%= post.link %>"><%= post.title %></a></h3>
      <p class="post-excerpt"><%= truncate(strip_tags(post.description), length: 200, separator: ' ', escape: false) %></p>
    </div>
  <% end %>
</div>

<div class="hidden-posts hidden"></div>
<a href="#" class="show-more-posts" style="max-width:600px; display:block; text-align:right; outline:none;">Show more posts</a>
