<main class="content wrap animated animated-mid fadeInUp" role="main">
  <section class="intro">
    <h1>Brittany Mederos</h1>
    <p class="subheader">Focusing on the user, one problem at a time</p>
    <p>Brittany is a lead interaction designer at Elementum SCM, building their flagship application: Transport. Brittany works closely with the product manager, stakeholders, and engineering teams to design useful, usable interfaces for logistics managers in Fortune 500 companies across mobile, web, and large-screen displays.</p>

    <p>Brittany fights for the user. She strives to inspire empathy and the creation of meaningful applications and interactions. Known for her fearless exploration and uninhibited design methods, Brittany has been able to create innovative solutions that solve the not-so-obvious problems.</p>
  </section>

  <section class="blog" name="blog" id="blog">
    
  </section>

  
</main>

<% if Rails.env.production? %>
  <script type="text/javascript">
    if (typeof analytics !== "undefined") {
      analytics.page("About - Brittany");
    }
  </script>
<% end %>