<header class="header animated delayed fadeInDown">
    <a href="/" class="enchant-logo"></a>
    <ul class="navigation">
      <!-- {{#is "index"}} -->
        <li><a href="http://writing.enchant.co" >Blog</a></li>
        <li><a href="/#about" class="scrollable-anchor">About</a></li>
      <!-- {{else}} -->
        <!-- <li><a href="/#blog" class="scrollable-anchor">Blog</a></li> -->
        <!-- <li><a href="/#about" class="scrollable-anchor">About</a></li> -->
      <!-- {{/is}} -->
      
      <li>
        <a href="#books">Books</a>
        <div class="dropdown-container">
          <img src="http://paulmederos.s3.amazonaws.com/enchant/illustration-UX_book-v1.png" class="ux-book">
          <h3>Crafting Your UX Portfolio: A Weekend Guide</h3>
          <p style="margin-bottom:.5em;">Aimed at people who want to break into interaction design professionally. We break down what the best design-focused startups are looking for when hiring designers to join their team.</p>
          <a href="http://portfolio.enchant.co/?utm_source=enchant&amp;utm_medium=blog&amp;utm_campaign=book_dropdown" class="button button-secondary">Get the Guide Now</a>
        </div>
      </li>
    </ul>
  </header>
